!!! 5
%html
  %head
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}
    %title Map of National Parks
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "author" }
    %meta{ content: "3 days", name: "revisit-after" }
    %meta{ name: "viewport", content: "width=device-width" }

    %link{ href: "https://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License" }
    :css
      #map {
        height: 500px;
      }
      .park {
        text-align: center;
      }
      .park img {
        margin: 10px;
        border-radius: 3px;
      }
  %body{ data: index_body_data }

    .container
      .row
        %h1.text-center Map of National Parks
        #map.col-xs-12

    .container
      - lines.each_slice(3) do |line_slice|
        .row
          - line_slice.each do |park|
            .col-sm-4.park{ id: park['underscored_title'] }
              %a{ name: "#{ park['Name'] }" }
              %h3= park['Name']
              %h4= park['Location']
              %p.text-left= park['Description']

    %script{ src: "//code.jquery.com/jquery-3.1.0.min.js" }
    %script{ src: "//maps.googleapis.com/maps/api/js?key=AIzaSyCVUpFTv-hVgrS4VzyC8uOUYsBoWX_VbNU" }
    %script{ src: "javascripts/map.js" }
    %script{ src: "javascripts/flickr.js" }
