h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
#map {
  height: 500px;
}
.park {
  text-align: center;
}
.park img {
  margin: 10px;
  border-radius: 3px;
}
.park .flickr {
  display: block;
}
